<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>socket.io test</title>
    <!-- scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // connect to the node-oscope server and update the 'test' div with received data
        var messages = 0; // count number of messages
        var socket = io.connect();
        socket.on('trace', function (msg) {
            // on receiving a trace message, update the test div
            var trace = JSON.parse(msg);
            var test = document.querySelector('#test');
            messages++;
            test.innerHTML = trace.channel.toString() + ',' + trace.length.toString() + ',' + messages.toString();
        });
        socket.on('disconnect',function() {
            console.log('disconnected');
        })
    </script>
<body>
<p>node-oscope socket.io browser test</p>
<div id="test">test</div>
</body>
</html>