body {
  padding: 50px;
  font: 14px "Courier New", Courier,monospace;
  background-color: #D2E0E6;
}

a {
  color: #00B7FF;
}

.oscope-canvas {
}

.container{
margin-left:2px;
padding-left:2px;	
}


.row {
  background-color: #D2E0E6;
  padding-top:10px;
  padding-bottom:10px;
}

.w100 {
  position:relative;
  margin-top:6px;
  margin-bottom:6px;
  width: 100%;
}

.w50 {
  width: 50%;
  margin-top:1px;
  margin-bottom:1px;
}

.tcenter {
  text-align: center;
}

.btn-margin {
  margin-top:1px;
  margin-bottom: 1px;
}
.control-margin {
  margin-bottom:10px;
  margin-top:10px;
}

.outline {
  padding:2px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: red;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }
	 